<!DOCTYPE html>
<html>
<head>
  <title>Our Family Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:100,200,400,300,300italic,700,400italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
  <%= render 'layouts/navigation' %>
<body>
    <div class="container">
      
      <%= render 'layouts/message' %>
    
      <%= yield %>
    
    </div>
  <%= render 'layouts/footer' %>
</body>
</html>
